
<div class="container ">
  <h6 class="m-title alert alert-info  mt-4 display-7">Dashboard Admin General  </h6>
  <div class="d-flex   gap-2 justify-content-between text-centre">
    <div class="col-md-4 ">
      <div class="card alert alert-success">
        <div class="card-body">
          <h6 class="card-title">
            {{
              promotionsStatistiques[0].status
            }}
          </h6>
          <p class="card-text">
            {{promotionsStatistiques[0].size}}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="card alert alert-danger">
        <div class="card-body">
          <h6 class="card-title">
            {{promotionsStatistiques[1].status}}
          </h6>
          <p class="card-text">
            {{promotionsStatistiques[1].size}}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="card alert alert-info">
        <div class="card-body ">
          <h6 class="card-title">
            {{promotionsStatistiques[2].status}}
          </h6>
          <p class="card-text">
            {{promotionsStatistiques[2].size}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="input-group">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init>search</button>
  </div>

</div>

