<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      Marjane Holding
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="container">

  <table class="table table-striped mt-4 text-center">
    <thead  class="thead-dark" >
      <th scope="col p-2">id</th>
      <th scope="col p-2">precentage</th>
      <th scope="col p-2">description</th>
      <th scope="col p-2">status</th>
      <th scope="col p-2">Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of promotions">
        <td scope="row">{{item.id}}</td>
        <td scope="row">{{item.precentage}}</td>
        <td scope="row">{{item.description}}</td>
        <td scope="row">{{item.status}}</td>
        <td scope="row d-grid gap-3">
          <button class="btn btn-primary m-2 " (click)="edit(item)">Edit</button>
          <button class="btn btn-danger m-2" (click)="delete(item)">Delete</button>
        </td>
      </tr>
  </table>
</div>
<router-outlet></router-outlet>
